*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caixa1{
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: 0 auto;
    padding: 2px;
    background-color: lightblue;
}
#q1::before{
    content: "";
    width: 500px;
    height: 10px;
    display: block;
    margin: 1% auto;
    background-color: green;
}
#q2::before{
    content: "";
    width: 500px;
    height: 10px;
    display: block;
    margin: 1% auto;
    background-color: green;
}
#visible{
    overflow: visible;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: 1% auto;
    padding: 2px;
    background-color: lightblue;
}
#scroll{
    overflow: scroll;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: 1% auto;
    padding: 2px;
    background-color: lightblue;
}
#hidden{
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: 1% auto;
    padding: 2px;
    background-color: lightblue;
}
#auto{
    overflow: auto;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: 1% auto;
    padding: 2px;
    background-color: lightblue;
}